In [1]:
from openpyxl import load_workbook
import pandas as pd
import openpyxl as xl; 
import functools
from math import pi
import plotly.graph_objects as go
import plotly.express as px
import numpy as np
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_Rows', 13000)
pd.set_option('display.max_columns', 12000)
import warnings
warnings.filterwarnings('ignore')

# **All_Data**

In [2]:
row_data = pd.read_csv('june_1st_test.csv')

In [3]:
row_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995868 entries, 0 to 1995867
Data columns (total 18 columns):
COHORT                        object
CLIENT                        object
NEW_RECURRING                 object
CREATEDAT                     object
SCORING_MODEL                 object
SCORE                         float64
LEAD_DATE_EXCL_AUTOREJECTS    object
LEADD                         float64
LAST_OFFER_DATE               object
OFFER                         float64
REJECT_DATE                   object
REJECTD                       float64
OFFER_ACCEPTED_DATE           object
OFFER_ACCEPTED                float64
PAYOUT_DATE                   object
PAYOUT                        float64
CUSTOMER_TYPE_DETAILED        object
APPLICATION_ID                object
dtypes: float64(6), object(12)
memory usage: 274.1+ MB

In [4]:
row_data.CUSTOMER_TYPE_DETAILED.unique()

array([nan, 'REGULAR_PRODUCT_REPEAT', 'NEW',
       '0%_FINANCING - BANK_REJECTED_POS', 'REGULAR_BNPL',
       'CROSS_SALE_LAAS', '0%_FINANCING_POS', 'BANK_REJECTED_POS',
       'REGULAR_POS', 'CROSS_SALE_DIRECT', 'CONSOLIDATION_LAAS'],
      dtype=object)

# 1. spain

## 1.a spain Micro Loans (KREDITO_24_ES)

In [5]:
Espain_ML = row_data.loc[row_data.CLIENT =='KREDITO_24_ES']
bins= [0,0.65,0.67,0.70,0.74,1]
labels = ['b_0-0.65','c_0.65-0.67','d_0.67-0.70','e_0.70-0.74','f_0.74-1']
Espain_ML['band'] = pd.cut(Espain_ML['SCORE'], bins=bins, labels=labels, right=False)
Espain_ML.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
0,2020-03,KREDITO_24_ES,NEW,2020-03-23 00:17:34.462000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-23 00:21:08.382000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03,KREDITO_24_ES,NEW,2020-03-22 23:17:55.645000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 23:22:43.053000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03,KREDITO_24_ES,NEW,2020-03-22 20:12:42.282000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 20:16:27.016000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-03,KREDITO_24_ES,NEW,2020-03-22 15:51:10.254000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 15:56:30.482000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2020-03,KREDITO_24_ES,NEW,2020-03-23 09:21:56.103000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## LEADD-New

In [6]:
Lead_ES_K24 = Espain_ML.loc[(Espain_ML['LEADD'] == 1) & (Espain_ML['NEW_RECURRING'] =='NEW') & (Espain_ML['SCORING_MODEL'] == 'ES-K24-HIGH-NEW-PRED-ML-m585939-2')]
Lead_ES_k24_outPut= pd.pivot_table(Lead_ES_K24, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
Lead_ES_k24_outPut_x = Lead_ES_k24_outPut.copy()
Lead_ES_k24_outPut_x.columns = [''.join(col).strip() for col in Lead_ES_k24_outPut.columns.values]
Lead_ES_k24_outPut_y=Lead_ES_k24_outPut_x.sort_values(by=['band'],ascending = False)
Lead_ES_k24_outPut_y

             LEADD2020-04  LEADD2020-05
band
f_0.74-1               45           208
e_0.70-0.74            25            84
d_0.67-0.70            26            82
c_0.65-0.67            10            52
b_0-0.65             1499          5671

## OFFER-New

In [7]:
offer_ES_K24 = Espain_ML.loc[(Espain_ML['OFFER'] == 1) & (Espain_ML['NEW_RECURRING'] =='NEW') & (Espain_ML['SCORING_MODEL'] == 'ES-K24-HIGH-NEW-PRED-ML-m585939-2')]
offer_ES_K24_outPut= pd.pivot_table(offer_ES_K24, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins= False ,aggfunc="count")
offer_ES_K24_outPut_x = offer_ES_K24_outPut.copy()
offer_ES_K24_outPut_x.columns = [''.join(col).strip() for col in offer_ES_K24_outPut.columns.values]
offer_ES_K24_outPut_y=offer_ES_K24_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT-New

In [8]:
PAYOUT_ES_K24 = Espain_ML.loc[(Espain_ML['PAYOUT'] == 1) & (Espain_ML['NEW_RECURRING'] =='NEW') & (Espain_ML['SCORING_MODEL'] == 'ES-K24-HIGH-NEW-PRED-ML-m585939-2')]
PAYOUT_ES_K24_outPut= pd.pivot_table(PAYOUT_ES_K24, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins= False ,aggfunc="count")
PAYOUT_ES_K24_outPut_x = PAYOUT_ES_K24_outPut.copy()
PAYOUT_ES_K24_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_ES_K24_outPut.columns.values]
PAYOUT_ES_K24_outPut_y=PAYOUT_ES_K24_outPut_x.sort_values(by=['band'],ascending = False)

## LEADD-Rec

In [9]:
Lead_ES_K24_Rec = Espain_ML.loc[(Espain_ML['LEADD'] == 1) & (Espain_ML['NEW_RECURRING'] !='NEW') & (Espain_ML['SCORING_MODEL'] == 'ES-K24-HIGH-NEW-PRED-ML-m585939-2')]
Lead_ES_K24_Rec_outPut= pd.pivot_table(Lead_ES_K24_Rec, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
Lead_ES_K24_Rec_outPut_x = Lead_ES_K24_Rec_outPut.copy()
Lead_ES_K24_Rec_outPut_x.columns = [''.join(col).strip() for col in Lead_ES_K24_Rec_outPut_x.columns.values]
Lead_ES_K24_Rec_outPut_y=Lead_ES_K24_Rec_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-Rec

In [10]:
offer_ES_K24_rec = Espain_ML.loc[(Espain_ML['OFFER'] == 1) & (Espain_ML['NEW_RECURRING'] !='NEW') & (Espain_ML['SCORING_MODEL'] == 'ES-K24-HIGH-NEW-PRED-ML-m585939-2')]
offer_ES_K24_rec_outPut= pd.pivot_table(offer_ES_K24_rec, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins= False ,aggfunc="count")
offer_ES_K24_rec_outPut_x = offer_ES_K24_rec_outPut.copy()
offer_ES_K24_rec_outPut_x.columns = [''.join(col).strip() for col in offer_ES_K24_rec_outPut.columns.values]
offer_ES_K24_rec_outPut_y= offer_ES_K24_rec_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT-Rec

In [11]:
PAYOUT_ES_K24_rec = Espain_ML.loc[(Espain_ML['PAYOUT'] == 1) & (Espain_ML['NEW_RECURRING'] =='NEW') & (Espain_ML['SCORING_MODEL'] == 'ES-K24-HIGH-NEW-PRED-ML-m585939-2')]
PAYOUT_ES_K24_rec_outPut = pd.pivot_table(PAYOUT_ES_K24_rec, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins= False ,aggfunc="count")
PAYOUT_ES_K24_rec_outPut_x = PAYOUT_ES_K24_rec_outPut.copy()
PAYOUT_ES_K24_rec_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_ES_K24_rec_outPut.columns.values]
PAYOUT_ES_K24_rec_outPut_y= PAYOUT_ES_K24_rec_outPut_x.sort_values(by=['band'],ascending = False)

# 1.b NAP - Spain Installment Loan

In [12]:
MONEDONOW_ES = row_data.loc[row_data.CLIENT =='MONEDONOW_ES']
bins= [0,0.65,0.68,0.71,0.73,1]
labels = ['b_0-0.65','c_0.65-0.68','d_0.68-0.71','e_0.71-0.73','f_0.73-1']
MONEDONOW_ES['band'] = pd.cut(MONEDONOW_ES['SCORE'], bins=bins, labels=labels, right=False)
MONEDONOW_ES.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
1,2020-03,MONEDONOW_ES,NEW,2020-03-22 11:29:05.703000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03,MONEDONOW_ES,NEW,2020-03-22 15:30:07.932000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 15:35:09.703000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2020-03,MONEDONOW_ES,NEW,2020-03-22 16:16:39.586000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 16:19:23.802000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020-03,MONEDONOW_ES,NEW,2020-03-22 11:54:09.217000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 11:56:58.288000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2020-03,MONEDONOW_ES,NEW,2020-03-23 21:31:22.362000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-23 21:33:15.264000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
MONEDONOW_ES.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
MONEDONOW_ES.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54727 entries, 1 to 1995865
Data columns (total 19 columns):
COHORT                        54727 non-null object
CLIENT                        54727 non-null object
NEW_RECURRING                 54727 non-null object
CREATEDAT                     54727 non-null object
SCORING_MODEL                 49207 non-null object
SCORE                         49207 non-null float64
LEAD_DATE_EXCL_AUTOREJECTS    54726 non-null object
LEADD                         54726 non-null float64
LAST_OFFER_DATE               2477 non-null object
OFFER                         2477 non-null float64
REJECT_DATE                   51661 non-null object
REJECTD                       51661 non-null float64
OFFER_ACCEPTED_DATE           1993 non-null object
OFFER_ACCEPTED                1993 non-null float64
PAYOUT_DATE                   1361 non-null object
PAYOUT                        1361 non-null float64
CUSTOMER_TYPE_DETAILED        54726 non-null object
APPLICATION_ID                54726 non-null object
band                          49207 non-null category
dtypes: category(1), float64(6), object(12)
memory usage: 8.0+ MB

## LEADD

In [14]:
Lead_MONEDONOW_ES = MONEDONOW_ES.loc[(MONEDONOW_ES['LEADD'] == 1) &  (MONEDONOW_ES['NEW_RECURRING'] =='NEW') & (MONEDONOW_ES['SCORING_MODEL'] == 'ES-MNOW-HIGH-NEW-PRED-KK_CB-ST-m1bfe24') 
                                     | (MONEDONOW_ES['SCORING_MODEL'] =='ES-MNOW-HIGH-NEW-PRED-KK_CB-ST-m1bfe24-1')]

In [15]:
Lead_MONEDONOW_ES_outPut= pd.pivot_table(Lead_MONEDONOW_ES, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
Lead_MONEDONOW_ES_outPut.sort_values(by=['band'],ascending = False)
Lead_MONEDONOW_ES_outPut_x = Lead_MONEDONOW_ES_outPut.copy()
Lead_MONEDONOW_ES_outPut_x.columns = [''.join(col).strip() for col in Lead_MONEDONOW_ES_outPut.columns.values]
Lead_MONEDONOW_ES_outPut_y=Lead_MONEDONOW_ES_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER

In [16]:
OFFER_MONEDONOW_ES = MONEDONOW_ES.loc[(MONEDONOW_ES['OFFER'] == 1) & (MONEDONOW_ES['SCORING_MODEL'] == 'ES-MNOW-HIGH-NEW-PRED-KK_CB-ST-m1bfe24') 
                                     | (MONEDONOW_ES['SCORING_MODEL'] =='ES-MNOW-HIGH-NEW-PRED-KK_CB-ST-m1bfe24-1')]
OFFER_MONEDONOW_ES_outPut= pd.pivot_table(OFFER_MONEDONOW_ES, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
OFFER_MONEDONOW_ES_outPut_x = OFFER_MONEDONOW_ES_outPut.copy()
OFFER_MONEDONOW_ES_outPut_x.columns = [''.join(col).strip() for col in OFFER_MONEDONOW_ES_outPut.columns.values]
OFFER_MONEDONOW_ES_outPut_y=OFFER_MONEDONOW_ES_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT

In [17]:
PAYOUT_MONEDONOW_ES = MONEDONOW_ES.loc[(MONEDONOW_ES['PAYOUT'] == 1) & (MONEDONOW_ES['SCORING_MODEL'] == 'ES-MNOW-HIGH-NEW-PRED-KK_CB-ST-m1bfe24') 
                                     | (MONEDONOW_ES['SCORING_MODEL'] =='ES-MNOW-HIGH-NEW-PRED-KK_CB-ST-m1bfe24-1')]
PAYOUT_MONEDONOW_ES_outPut= pd.pivot_table(PAYOUT_MONEDONOW_ES, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PAYOUT_MONEDONOW_ES_outPut_x = PAYOUT_MONEDONOW_ES_outPut.copy()
PAYOUT_MONEDONOW_ES_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_MONEDONOW_ES_outPut.columns.values]
PAYOUT_MONEDONOW_ES_outPut_y=PAYOUT_MONEDONOW_ES_outPut_x.sort_values(by=['band'],ascending = False)

# spain_excel_sheet

In [18]:
wb = load_workbook('Model_score_outPut.xlsx')

# Get sheet names
print(wb.sheetnames)

['Model_Score_Distribution_RU', 'Model_Score_Distribution_ES', 'Model_Score_Distribution_PL']

In [19]:
path = r"C:\Users\abdalla.khiralla\Model_score_outPut.xlsx"

book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

Lead_MONEDONOW_ES_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=6,startcol=1,header=True)
OFFER_MONEDONOW_ES_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=6,startcol=10,header=True)
PAYOUT_MONEDONOW_ES_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=6,startcol=19,header=True)
Lead_ES_k24_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=52,startcol=1,header=True)
offer_ES_K24_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=52,startcol=10,header=True)
PAYOUT_ES_K24_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=52,startcol=19,header=True)
Lead_ES_K24_Rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=99,startcol=1,header=True)
offer_ES_K24_rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=99,startcol=10,header=True)
PAYOUT_ES_K24_rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_ES',startrow=99,startcol=19,header=True)

writer.save()
writer.close()

# 2.Russia

## 2.1 Russia-New

In [20]:
ZAIMO = row_data.loc[row_data.CLIENT =='ZAIMO']
bins= [0,0.56,0.62,0.68,0.78,1]
labels = ['b_0-0.56','c_0.56-0.62','d_0.62-0.68','e_0.68-0.78','f_0.78-1']
ZAIMO['band'] = pd.cut(ZAIMO['SCORE'], bins=bins, labels=labels, right=False)
ZAIMO.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
5,2020-03,ZAIMO,NEW,2020-03-22 17:24:10.005000,RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1,0.07912,2020-03-22 17:29:44.307000,1.0,NaN,NaN,2020-03-22 17:29:52.324000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b_0-0.56
9,2020-03,ZAIMO,NEW,2020-03-22 20:39:23.410000,RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1,0.50594,2020-03-22 20:48:50.951000,1.0,NaN,NaN,2020-03-22 20:48:59.640000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b_0-0.56
12,2020-03,ZAIMO,RECURRING,2020-03-22 12:02:39.816000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 12:04:02.614000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020-03,ZAIMO,NEW,2020-03-22 19:39:26.855000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020-03,ZAIMO,NEW,2020-03-22 06:28:05.456000,RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1,0.21003,2020-03-22 06:33:51.038000,1.0,NaN,NaN,2020-03-22 06:33:58.583000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b_0-0.56

## LEADD

In [21]:
Lead_ZAIMO = ZAIMO.loc[(ZAIMO['LEADD'] == 1) & (ZAIMO['NEW_RECURRING'] =='NEW') & (ZAIMO['SCORING_MODEL'] == 'RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1')]
Lead_ZAIMO_outPut= pd.pivot_table(Lead_ZAIMO, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
Lead_ZAIMO_outPut_x = Lead_ZAIMO_outPut.copy()
Lead_ZAIMO_outPut_x.columns = [''.join(col).strip() for col in Lead_ZAIMO_outPut.columns.values]
Lead_ZAIMO_outPut_y= Lead_ZAIMO_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER

In [22]:
OFFER_ZAIMO = ZAIMO.loc[(ZAIMO['OFFER'] == 1) & (ZAIMO['NEW_RECURRING'] =='NEW') & (ZAIMO['SCORING_MODEL'] == 'RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1')]
OFFER_ZAIMO_outPut= pd.pivot_table(OFFER_ZAIMO, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
OFFER_ZAIMO_outPut_x = OFFER_ZAIMO_outPut.copy()
OFFER_ZAIMO_outPut_x.columns = [''.join(col).strip() for col in OFFER_ZAIMO_outPut.columns.values]
OFFER_ZAIMO_outPut_y= OFFER_ZAIMO_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT

In [23]:
PAYOUT_ZAIMO = ZAIMO.loc[(ZAIMO['PAYOUT'] == 1) & (ZAIMO['NEW_RECURRING'] =='NEW') &(ZAIMO['SCORING_MODEL'] == 'RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1')]
PAYOUT_ZAIMO_outPut= pd.pivot_table(PAYOUT_ZAIMO, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PAYOUT_ZAIMO_outPut_x = PAYOUT_ZAIMO_outPut.copy()
PAYOUT_ZAIMO_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_ZAIMO_outPut.columns.values]
PAYOUT_ZAIMO_outPut_y= PAYOUT_ZAIMO_outPut_x.sort_values(by=['band'],ascending = False)

# 2.2 Russia-Rec

In [24]:
ZAIMO_rec = row_data.loc[row_data.CLIENT =='ZAIMO']
bins= [0,0.57,0.70,0.79,0.88,1]
labels = ['b_0-0.57','c_0.57-0.70','d_0.70-0.79','e_0.79-0.88','f_0.88-1']
ZAIMO_rec['band'] = pd.cut(ZAIMO_rec['SCORE'], bins=bins, labels=labels, right=False)
ZAIMO_rec.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
5,2020-03,ZAIMO,NEW,2020-03-22 17:24:10.005000,RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1,0.07912,2020-03-22 17:29:44.307000,1.0,NaN,NaN,2020-03-22 17:29:52.324000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b_0-0.57
9,2020-03,ZAIMO,NEW,2020-03-22 20:39:23.410000,RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1,0.50594,2020-03-22 20:48:50.951000,1.0,NaN,NaN,2020-03-22 20:48:59.640000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b_0-0.57
12,2020-03,ZAIMO,RECURRING,2020-03-22 12:02:39.816000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-22 12:04:02.614000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020-03,ZAIMO,NEW,2020-03-22 19:39:26.855000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020-03,ZAIMO,NEW,2020-03-22 06:28:05.456000,RU-K24-MED-NEW-PRED-CB-PA-ST-m21e8a3-1,0.21003,2020-03-22 06:33:51.038000,1.0,NaN,NaN,2020-03-22 06:33:58.583000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,b_0-0.57

## LEADD-Rec

In [25]:
Lead_ZAIMO_Rec = ZAIMO_rec.loc[(ZAIMO_rec['LEADD'] == 1) & (ZAIMO_rec['NEW_RECURRING'] =='RECURRING') & (ZAIMO_rec['SCORING_MODEL'] == 'RU-K24-MED-REC_PR-PRED-CB-PA-ST-me76543-1')]
Lead_ZAIMO_Rec_outPut= pd.pivot_table(Lead_ZAIMO_Rec, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
Lead_ZAIMO_Rec_outPut_x = Lead_ZAIMO_Rec_outPut.copy()
Lead_ZAIMO_Rec_outPut_x.columns = [''.join(col).strip() for col in Lead_ZAIMO_Rec_outPut.columns.values]
Lead_ZAIMO_Rec_outPut_y= Lead_ZAIMO_Rec_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-Rec

In [26]:
OFFER_ZAIMO_Rec = ZAIMO_rec.loc[(ZAIMO_rec['OFFER'] == 1) & (ZAIMO_rec['NEW_RECURRING'] =='RECURRING') & (ZAIMO_rec['SCORING_MODEL'] == 'RU-K24-MED-REC_PR-PRED-CB-PA-ST-me76543-1')]
OFFER_ZAIMO_Rec_outPut= pd.pivot_table(OFFER_ZAIMO_Rec, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
OFFER_ZAIMO_Rec_outPut_x = OFFER_ZAIMO_Rec_outPut.copy()
OFFER_ZAIMO_Rec_outPut_x.columns = [''.join(col).strip() for col in OFFER_ZAIMO_Rec_outPut.columns.values]
OFFER_ZAIMO_Rec_outPut_y= OFFER_ZAIMO_Rec_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT-Rec

In [27]:
PAYOUT_ZAIMO_Rec = ZAIMO_rec.loc[(ZAIMO_rec['PAYOUT'] == 1) & (ZAIMO_rec['NEW_RECURRING'] =='RECURRING') & (ZAIMO_rec['SCORING_MODEL'] == 'RU-K24-MED-REC_PR-PRED-CB-PA-ST-me76543-1')]
PAYOUT_ZAIMO_Rec_outPut= pd.pivot_table(PAYOUT_ZAIMO_Rec, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PAYOUT_ZAIMO_Rec_outPut_x = PAYOUT_ZAIMO_Rec_outPut.copy()
PAYOUT_ZAIMO_Rec_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_ZAIMO_Rec_outPut.columns.values]
PAYOUT_ZAIMO_Rec_outPut_y= PAYOUT_ZAIMO_Rec_outPut_x.sort_values(by=['band'],ascending = False)

## Russian_excel_sheet

In [28]:
path = r"C:\Users\abdalla.khiralla\Model_score_outPut.xlsx"

book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

Lead_ZAIMO_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_RU',startrow=6,startcol=1,header=True)
OFFER_ZAIMO_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_RU',startrow=6,startcol=10,header=True)
PAYOUT_ZAIMO_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_RU',startrow=6,startcol=19,header=True)
Lead_ZAIMO_Rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_RU',startrow=49,startcol=1,header=True)
OFFER_ZAIMO_Rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_RU',startrow=49,startcol=10,header=True)
PAYOUT_ZAIMO_Rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_RU',startrow=49,startcol=19,header=True)

writer.save()
writer.close()

# 3. a Poland_IL

## NEW_IL

In [29]:
PL_IL = row_data.loc[row_data.CLIENT =='MONEDONOW_PL']
bins= [0,0.673,0.714,0.756,0.814,1]
labels = ['b_0-0.673','c_0.673-0.714','d_0.714-0.756','e_0.756-0.814','f_0.814-1']
PL_IL['band'] = pd.cut(PL_IL['SCORE'], bins=bins, labels=labels, right=False)
PL_IL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_IL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6,2020-03,MONEDONOW_PL,NEW,2020-03-23 05:09:49.659000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-27 15:52:38.234000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6037,2020-01,MONEDONOW_PL,NEW,2020-01-02 19:18:20.229000,PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1,0.40449,2020-01-02 19:27:57.820000,1.0,NaN,NaN,2020-01-02 19:28:14.014000,1.0,NaN,NaN,NaN,NaN,NEW,DLP2002740R11,b_0-0.673
6038,2020-01,MONEDONOW_PL,NEW,2020-01-06 14:48:45.976000,PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1,0.06388,2020-01-06 14:52:13.722000,1.0,NaN,NaN,2020-01-06 14:52:24.459000,1.0,NaN,NaN,NaN,NaN,NEW,DLP2011014R11,b_0-0.673
6042,2020-01,MONEDONOW_PL,NEW,2020-01-15 15:05:43.038000,PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1,0.81959,2020-01-15 15:23:40.805000,1.0,2020-01-15 15:25:24.621000,1.0,NaN,NaN,2020-01-15 15:25:24.621000,1.0,2020-01-17 14:25:22.054000,1.0,NEW,DLP2041594R11,f_0.814-1
6047,2020-01,MONEDONOW_PL,RECURRING,2020-01-12 19:52:36.584000,PL-MNOW-HIGH-CON_CS-PRED-CB-HE-m57043d-1,1.00000,2020-01-12 19:56:58.076000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CROSS_SALE_LAAS,DLP2028872R11,NaN

## LEADD

In [30]:
PL_IL_new= PL_IL[PL_IL.NEW_RECURRING != 'RECURRING']

In [31]:
Lead_PL_IL = PL_IL_new.loc[(PL_IL_new['LEADD'] == 1) & ( PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1.0')|(PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423')|(PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1')]
Lead_PL_IL_outPut= pd.pivot_table(Lead_PL_IL, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
Lead_PL_IL_outPut_x = Lead_PL_IL_outPut.copy()
Lead_PL_IL_outPut_x.columns = [''.join(col).strip() for col in Lead_PL_IL_outPut.columns.values]
Lead_PL_IL_outPut_y= Lead_PL_IL_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER

In [32]:
offer_PL_IL = PL_IL_new.loc[(PL_IL_new['OFFER'] == 1) & ( PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1.0')|(PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423')|(PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1')]
offer_PL_IL_outPut= pd.pivot_table(offer_PL_IL, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
offer_PL_IL_outPut_x = offer_PL_IL_outPut.copy()
offer_PL_IL_outPut_x.columns = [''.join(col).strip() for col in offer_PL_IL_outPut.columns.values]
offer_PL_IL_outPut_y= offer_PL_IL_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT

In [33]:
payout_PL_IL = PL_IL_new.loc[(PL_IL_new['PAYOUT'] == 1) & ( PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1.0') | (PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423') | (PL_IL_new['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1')]
payout_PL_IL_outPut= pd.pivot_table(payout_PL_IL, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
payout_PL_IL_outPut_x = payout_PL_IL_outPut.copy()
payout_PL_IL_outPut_x.columns = [''.join(col).strip() for col in payout_PL_IL_outPut.columns.values]
payout_PL_IL_outPut_y= payout_PL_IL_outPut_x.sort_values(by=['band'],ascending = False)

# Rec_IL

In [34]:
PL_IL_rec = row_data.loc[row_data.CLIENT =='MONEDONOW_PL']
bins= [0,0.468,0.567,0.650,0.740,1]
labels = ['b_0-0.468','c_0.468-0.567','d_0.567-0.650','e_0.650-0.740','f_0.740-1']
PL_IL_rec['band'] = pd.cut(PL_IL_rec['SCORE'], bins=bins, labels=labels, right=False)
PL_IL_rec.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)

In [35]:
PL_IL_Rec_x= PL_IL_rec[(PL_IL_rec.NEW_RECURRING != 'NEW') & (PL_IL_rec['CUSTOMER_TYPE_DETAILED'] == "REGULAR_PRODUCT_REPEAT") | (PL_IL_rec['CUSTOMER_TYPE_DETAILED'] == "CROSS_SALE_LAAS")]

In [36]:
PL_IL_Rec_x.NEW_RECURRING.value_counts()

RECURRING    11693
Name: NEW_RECURRING, dtype: int64

## LEADD-Rec

In [37]:
PL_IL_Rec_y = PL_IL_Rec_x.loc[(PL_IL_Rec_x['LEADD'] == 1) & ( PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1.0')|(PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423')|(PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1')]
PL_IL_Rec_outPut= pd.pivot_table(PL_IL_Rec_y, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_IL_Rec_outPut_x = PL_IL_Rec_outPut.copy()
PL_IL_Rec_outPut_x.columns = [''.join(col).strip() for col in PL_IL_Rec_outPut.columns.values]
PL_IL_Rec_outPut_y= PL_IL_Rec_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-Rec

In [38]:
offer_PL_IL_Rec = PL_IL_Rec_x.loc[(PL_IL_Rec_x['OFFER'] == 1) & ( PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1.0')|(PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423')|(PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1')]
offer_PL_IL_Rec_outPut= pd.pivot_table(offer_PL_IL_Rec, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
offer_PL_IL_Rec_outPut_x = offer_PL_IL_Rec_outPut.copy()
offer_PL_IL_Rec_outPut_x.columns = [''.join(col).strip() for col in offer_PL_IL_Rec_outPut.columns.values]
offer_PL_IL_Rec_outPut_y= offer_PL_IL_Rec_outPut_x.sort_values(by=['band'],ascending = False)

# payout-Rec

In [39]:
payout_PL_IL_Rec = PL_IL_Rec_x.loc[(PL_IL_Rec_x['PAYOUT'] == 1) & ( PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1.0') | (PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423') | (PL_IL_Rec_x['SCORING_MODEL'] == 'PL-MNOW-HIGH-NEW-PRED-KK_CB-MS-md89423-1')]
payout_PL_IL_Rec_outPut= pd.pivot_table(payout_PL_IL_Rec, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
payout_PL_IL_Rec_x = payout_PL_IL_Rec_outPut.copy()
payout_PL_IL_Rec_x.columns = [''.join(col).strip() for col in payout_PL_IL_Rec_outPut.columns.values]
payout_PL_IL_Rec_y= payout_PL_IL_Rec_x.sort_values(by=['band'],ascending = False)

# 3.b Poland BNpl

In [40]:
PL_BNPL = row_data.loc[row_data.CLIENT =='MONEDO_BNPL_PL']
bins= [0,0.88,0.92,0.95,0.97,1]
labels = ['b_0-0.88','c_0.88-0.92','d_0.92-0.95','e_0.95-0.97','f_0.97-1']
PL_BNPL['band'] = pd.cut(PL_BNPL['SCORE'], bins=bins, labels=labels, right=False)
#PL_BNPL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_BNPL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
94,2020-03,MONEDO_BNPL_PL,NEW,2020-03-23 15:03:57.178000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-23 15:04:19.723000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,2020-03,MONEDO_BNPL_PL,NEW,2020-03-23 08:23:15.028000,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-23 08:26:13.663000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,2020-04,MONEDO_BNPL_PL,RECURRING,2020-04-02 22:25:12.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,2020-04,MONEDO_BNPL_PL,NEW,2020-04-02 18:02:48.214000,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-02 18:03:23.981000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,2020-04,MONEDO_BNPL_PL,RECURRING,2020-04-02 12:40:09.922000,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-02 12:40:47.476000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## LEADD-BNPL

In [41]:
PL_BNPL_leads = PL_BNPL.loc[(PL_BNPL['LEADD'] == 1) & ( PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')|(PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')]
PL_BNPL_leads_outPut= pd.pivot_table(PL_BNPL_leads, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_BNPL_leads_outPut_x = PL_BNPL_leads_outPut.copy()
PL_BNPL_leads_outPut_x.columns = [''.join(col).strip() for col in PL_BNPL_leads_outPut.columns.values]
PL_BNPL_leads_outPut_y= PL_BNPL_leads_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-BNPL

In [42]:
PL_OFFER_BNPL = PL_BNPL.loc[(PL_BNPL['OFFER'] == 1) & ( PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')|(PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')]
PL_OFFER_BNPL_outPut= pd.pivot_table(PL_BNPL_leads, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_OFFER_BNPL_outPut_x = PL_OFFER_BNPL_outPut.copy()
PL_OFFER_BNPL_outPut_x.columns = [''.join(col).strip() for col in PL_OFFER_BNPL_outPut.columns.values]
PL_OFFER_BNPL_outPut_y= PL_OFFER_BNPL_outPut_x.sort_values(by=['band'],ascending = False)

## payout-BNPL

In [43]:
PL_BNPL_PAYOUT = PL_BNPL.loc[(PL_BNPL['PAYOUT'] == 1) & ( PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')|(PL_BNPL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')]
PL_BNPL_PAYOUT_outPut= pd.pivot_table(PL_BNPL_leads, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_BNPL_PAYOUT_outPut_x = PL_BNPL_PAYOUT_outPut.copy()
PL_BNPL_PAYOUT_outPut_x.columns = [''.join(col).strip() for col in PL_BNPL_PAYOUT_outPut.columns.values]
PL_BNPL_PAYOUT_outPut_y= PL_BNPL_PAYOUT_outPut_x.sort_values(by=['band'],ascending = False)

# 4. MF - 0% POS

## 4.a HIGH RISK MODEL

In [44]:
PL_HIGH_RISK = row_data.loc[row_data.CLIENT =='MONEDO_FINANCE_PL']
PL_HIGH_RISK_MODEL= PL_HIGH_RISK[(PL_HIGH_RISK.CUSTOMER_TYPE_DETAILED == '0%_FINANCING - BANK_REJECTED_POS') | (PL_HIGH_RISK.CUSTOMER_TYPE_DETAILED == '0%_FINANCING_POS')]
bins= [0,0.977,0.984,0.988,0.992,1]
labels = ['b_0-0.977','c_0.977-0.984','d_0.984-0.988','e_0.988-0.992','f_0.992-1']
PL_HIGH_RISK_MODEL['band'] = pd.cut(PL_HIGH_RISK_MODEL['SCORE'], bins=bins, labels=labels, right=False)
PL_HIGH_RISK_MODEL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_HIGH_RISK_MODEL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6039,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-10 13:02:51.512000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98985,2020-01-10 13:14:31.959000,1.0,2020-01-10 13:16:04.485000,1.0,NaN,NaN,2020-01-10 13:16:04.485000,1.0,2020-01-10 13:17:37.666000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1611137R11,e_0.988-0.992
6056,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-13 20:43:11.329000,PL-POS-ALL-REC-PRED-PA-HE-me1aeda-1,1.00000,2020-01-13 20:44:57.935000,1.0,2020-01-13 20:46:21.166000,1.0,NaN,NaN,2020-01-13 20:46:21.166000,1.0,2020-01-13 20:46:53.889000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1617135R11,NaN
6075,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-13 08:52:49.898000,PL-PRED-Score1-mc9c3f0-1,1.00000,2020-01-13 08:53:09.213000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%_FINANCING_POS,ZLP1615767R11,NaN
6102,2020-03,MONEDO_FINANCE_PL,NEW,2020-03-03 10:28:25.282000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98584,2020-03-03 10:30:45.172000,1.0,2020-03-03 10:33:36.673000,1.0,NaN,NaN,2020-03-03 10:33:36.673000,1.0,NaN,NaN,0%_FINANCING - BANK_REJECTED_POS,ZLP1710135R11,d_0.984-0.988
6117,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-13 19:20:24.647000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98149,2020-01-13 19:22:40.533000,1.0,2020-01-13 19:23:19.174000,1.0,NaN,NaN,2020-01-13 19:23:19.174000,1.0,2020-01-13 19:24:12.888000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1616933R11,c_0.977-0.984

### LEADD-HIGH RISK MODEL-0% POS

In [45]:
PL_HIGH_RISK_MODEL_leadd = PL_HIGH_RISK_MODEL.loc[(PL_HIGH_RISK_MODEL['LEADD'] == 1) & ( PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1.0')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3')]
PL_HIGH_RISK_MODEL_leadd_outPut= pd.pivot_table(PL_HIGH_RISK_MODEL_leadd, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_HIGH_RISK_MODEL_leadd_outPut_x = PL_HIGH_RISK_MODEL_leadd_outPut.copy()
PL_HIGH_RISK_MODEL_leadd_outPut_x.columns = [''.join(col).strip() for col in PL_HIGH_RISK_MODEL_leadd_outPut.columns.values]
PL_HIGH_RISK_MODEL_leadd_outPut_y= PL_HIGH_RISK_MODEL_leadd_outPut_x.sort_values(by=['band'],ascending = False)

### OFFER-HIGH RISK MODEL-0% POS

In [46]:
PL_HIGH_RISK_MODEL_OFFER = PL_HIGH_RISK_MODEL.loc[(PL_HIGH_RISK_MODEL['OFFER'] == 1) & ( PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1.0')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3')]
PL_HIGH_RISK_MODEL_OFFER_outPut= pd.pivot_table(PL_HIGH_RISK_MODEL_leadd, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_HIGH_RISK_MODEL_OFFER_outPut_x = PL_HIGH_RISK_MODEL_OFFER_outPut.copy()
PL_HIGH_RISK_MODEL_OFFER_outPut_x.columns = [''.join(col).strip() for col in PL_HIGH_RISK_MODEL_OFFER_outPut.columns.values]
PL_HIGH_RISK_MODEL_OFFER_outPut_y= PL_HIGH_RISK_MODEL_OFFER_outPut_x.sort_values(by=['band'],ascending = False)

### payout-HIGH RISK MODEL-0% POS

In [47]:
PL_HIGH_RISK_MODEL_payout = PL_HIGH_RISK_MODEL.loc[(PL_HIGH_RISK_MODEL['PAYOUT'] == 1) & ( PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1.0')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3')]
PL_HIGH_RISK_MODEL_payout_outPut= pd.pivot_table(PL_HIGH_RISK_MODEL_leadd, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_HIGH_RISK_MODEL_payout_outPut_x = PL_HIGH_RISK_MODEL_payout_outPut.copy()
PL_HIGH_RISK_MODEL_payout_outPut_x.columns = [''.join(col).strip() for col in PL_HIGH_RISK_MODEL_payout_outPut.columns.values]
PL_HIGH_RISK_MODEL_payout_outPut_y= PL_HIGH_RISK_MODEL_payout_outPut_x.sort_values(by=['band'],ascending = False)

## 4.b MED RISK MODEL, 0% POS

In [48]:
PL_MED_RISK= row_data.loc[row_data.CLIENT =='MONEDO_FINANCE_PL']
PL_MED_RISK_MODEL= PL_MED_RISK[(PL_MED_RISK.CUSTOMER_TYPE_DETAILED == '0%_FINANCING - BANK_REJECTED_POS') | (PL_MED_RISK.CUSTOMER_TYPE_DETAILED == '0%_FINANCING_POS')]
bins= [0,0.977,0.983,0.986,0.989,1]
labels = ['b_0-0.977','c_0.977-0.983','d_0.983-0.986','e_0.986-0.989','f_0.989-1']
PL_MED_RISK_MODEL['band'] = pd.cut(PL_MED_RISK_MODEL['SCORE'], bins=bins, labels=labels, right=False)
PL_MED_RISK_MODEL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_MED_RISK_MODEL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6039,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-10 13:02:51.512000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98985,2020-01-10 13:14:31.959000,1.0,2020-01-10 13:16:04.485000,1.0,NaN,NaN,2020-01-10 13:16:04.485000,1.0,2020-01-10 13:17:37.666000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1611137R11,f_0.989-1
6056,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-13 20:43:11.329000,PL-POS-ALL-REC-PRED-PA-HE-me1aeda-1,1.00000,2020-01-13 20:44:57.935000,1.0,2020-01-13 20:46:21.166000,1.0,NaN,NaN,2020-01-13 20:46:21.166000,1.0,2020-01-13 20:46:53.889000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1617135R11,NaN
6075,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-13 08:52:49.898000,PL-PRED-Score1-mc9c3f0-1,1.00000,2020-01-13 08:53:09.213000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%_FINANCING_POS,ZLP1615767R11,NaN
6102,2020-03,MONEDO_FINANCE_PL,NEW,2020-03-03 10:28:25.282000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98584,2020-03-03 10:30:45.172000,1.0,2020-03-03 10:33:36.673000,1.0,NaN,NaN,2020-03-03 10:33:36.673000,1.0,NaN,NaN,0%_FINANCING - BANK_REJECTED_POS,ZLP1710135R11,d_0.983-0.986
6117,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-13 19:20:24.647000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98149,2020-01-13 19:22:40.533000,1.0,2020-01-13 19:23:19.174000,1.0,NaN,NaN,2020-01-13 19:23:19.174000,1.0,2020-01-13 19:24:12.888000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1616933R11,c_0.977-0.983

## LEADD-MED RISK MODEL-0% POS

In [49]:
PL_MED_RISK_MODEL_leadd = PL_MED_RISK_MODEL.loc[(PL_MED_RISK_MODEL['LEADD'] == 1) & ( PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1')|(PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1.0')|(PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0')]
PL_MED_RISK_MODEL_leadd_outPut= pd.pivot_table(PL_MED_RISK_MODEL_leadd, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_MED_RISK_MODEL_leadd_outPut_x = PL_MED_RISK_MODEL_leadd_outPut.copy()
PL_MED_RISK_MODEL_leadd_outPut_x.columns = [''.join(col).strip() for col in PL_MED_RISK_MODEL_leadd_outPut.columns.values]
PL_MED_RISK_MODEL_leadd_outPut_y= PL_MED_RISK_MODEL_leadd_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-MED RISK MODEL-0% POS

In [50]:
PL_MED_RISK_MODEL_offer = PL_MED_RISK_MODEL.loc[(PL_MED_RISK_MODEL['OFFER'] == 1) & ( PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1')|(PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1.0')|(PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0')]
PL_MED_RISK_MODEL_offer_outPut= pd.pivot_table(PL_MED_RISK_MODEL_offer, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_MED_RISK_MODEL_offer_outPut_x = PL_MED_RISK_MODEL_offer_outPut.copy()
PL_MED_RISK_MODEL_offer_outPut_x.columns = [''.join(col).strip() for col in PL_MED_RISK_MODEL_offer_outPut.columns.values]
PL_MED_RISK_MODEL_offer_outPut_y= PL_MED_RISK_MODEL_offer_outPut_x.sort_values(by=['band'],ascending = False)

## payout-MED RISK MODEL-0% POS

In [51]:
PL_MED_RISK_MODEL_payout = PL_MED_RISK_MODEL.loc[(PL_MED_RISK_MODEL['PAYOUT'] == 1) & ( PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1')|(PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1.0')|(PL_MED_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0')]
PL_MED_RISK_MODEL_payout_outPut= pd.pivot_table(PL_MED_RISK_MODEL_payout, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_MED_RISK_MODEL_payout_outPut_x = PL_MED_RISK_MODEL_payout_outPut.copy()
PL_MED_RISK_MODEL_payout_outPut_x.columns = [''.join(col).strip() for col in PL_MED_RISK_MODEL_payout_outPut.columns.values]
PL_MED_RISK_MODEL_payout_outPut_y= PL_MED_RISK_MODEL_payout_outPut_x.sort_values(by=['band'],ascending = False)

# 4.c LOW RISK MODEL-0% POS

In [52]:
PL_MLOW_RISKL= row_data.loc[row_data.CLIENT =='MONEDO_FINANCE_PL']
PL_MLOW_RISK_MODEL= PL_MLOW_RISKL[(PL_MLOW_RISKL.CUSTOMER_TYPE_DETAILED == '0%_FINANCING - BANK_REJECTED_POS') | (PL_MLOW_RISKL.CUSTOMER_TYPE_DETAILED == '0%_FINANCING_POS')]
bins= [0,0.8950,0.935,0.970,0.985,1]
labels = ['b_0-0.895','c_0.895-0.935','d_0.935-0.970','e_0.970-0.985','f_0.985-1']
PL_MLOW_RISK_MODEL['band'] = pd.cut(PL_MLOW_RISK_MODEL['SCORE'], bins=bins, labels=labels, right=False)
PL_MLOW_RISK_MODEL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_MLOW_RISK_MODEL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6039,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-10 13:02:51.512000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98985,2020-01-10 13:14:31.959000,1.0,2020-01-10 13:16:04.485000,1.0,NaN,NaN,2020-01-10 13:16:04.485000,1.0,2020-01-10 13:17:37.666000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1611137R11,f_0.985-1
6056,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-13 20:43:11.329000,PL-POS-ALL-REC-PRED-PA-HE-me1aeda-1,1.00000,2020-01-13 20:44:57.935000,1.0,2020-01-13 20:46:21.166000,1.0,NaN,NaN,2020-01-13 20:46:21.166000,1.0,2020-01-13 20:46:53.889000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1617135R11,NaN
6075,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-13 08:52:49.898000,PL-PRED-Score1-mc9c3f0-1,1.00000,2020-01-13 08:53:09.213000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%_FINANCING_POS,ZLP1615767R11,NaN
6102,2020-03,MONEDO_FINANCE_PL,NEW,2020-03-03 10:28:25.282000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98584,2020-03-03 10:30:45.172000,1.0,2020-03-03 10:33:36.673000,1.0,NaN,NaN,2020-03-03 10:33:36.673000,1.0,NaN,NaN,0%_FINANCING - BANK_REJECTED_POS,ZLP1710135R11,f_0.985-1
6117,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-13 19:20:24.647000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98149,2020-01-13 19:22:40.533000,1.0,2020-01-13 19:23:19.174000,1.0,NaN,NaN,2020-01-13 19:23:19.174000,1.0,2020-01-13 19:24:12.888000,1.0,0%_FINANCING - BANK_REJECTED_POS,ZLP1616933R11,e_0.970-0.985

## LEADD-LOW RISK MODEL-0% POS

In [53]:
PL_MLOW_RISK_MODEL_leadd = PL_MLOW_RISK_MODEL.loc[(PL_MLOW_RISK_MODEL['LEADD'] == 1) & ( PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')|(PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')]
PL_MLOW_RISK_MODEL_leadd_outPut= pd.pivot_table(PL_MLOW_RISK_MODEL_leadd, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_MLOW_RISK_MODEL_leadd_outPut_x = PL_MLOW_RISK_MODEL_leadd_outPut.copy()
PL_MLOW_RISK_MODEL_leadd_outPut_x.columns = [''.join(col).strip() for col in PL_MLOW_RISK_MODEL_leadd_outPut.columns.values]
PL_MLOW_RISK_MODEL_leadd_outPut_y= PL_MLOW_RISK_MODEL_leadd_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-LOW RISK MODEL-0% POS

In [54]:
PL_MLOW_RISK_MODEL_OFFER = PL_MLOW_RISK_MODEL.loc[(PL_MLOW_RISK_MODEL['OFFER'] == 1) & ( PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')|(PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')]
PL_MLOW_RISK_MODEL_OFFER_outPut= pd.pivot_table(PL_MLOW_RISK_MODEL_leadd, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_MLOW_RISK_MODEL_OFFER_outPut_x = PL_MLOW_RISK_MODEL_OFFER_outPut.copy()
PL_MLOW_RISK_MODEL_OFFER_outPut_x.columns = [''.join(col).strip() for col in PL_MLOW_RISK_MODEL_OFFER_outPut.columns.values]
PL_MLOW_RISK_MODEL_OFFER_outPut_y= PL_MLOW_RISK_MODEL_OFFER_outPut_x.sort_values(by=['band'],ascending = False)

## payout-LOW RISK MODEL-0% POS

In [55]:
PL_MLOW_RISK_MODEL_PAYOUT = PL_MLOW_RISK_MODEL.loc[(PL_MLOW_RISK_MODEL['PAYOUT'] == 1) & ( PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')|(PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_MLOW_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')]
PL_MLOW_RISK_MODEL_PAYOUT_outPut= pd.pivot_table(PL_MLOW_RISK_MODEL_leadd, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_MLOW_RISK_MODEL_PAYOUT_outPut_x = PL_MLOW_RISK_MODEL_PAYOUT_outPut.copy()
PL_MLOW_RISK_MODEL_PAYOUT_outPut_x.columns = [''.join(col).strip() for col in PL_MLOW_RISK_MODEL_PAYOUT_outPut.columns.values]
PL_MLOW_RISK_MODEL_PAYOUT_outPut_y= PL_MLOW_RISK_MODEL_PAYOUT_outPut_x.sort_values(by=['band'],ascending = False)

# 4. Regular Segments

## 4.a HIGH RISK MODEL

In [56]:
PL_HIGH_RISK= row_data.loc[row_data.CLIENT =='MONEDO_FINANCE_PL']
PL_HIGH_RISK_MODEL= PL_HIGH_RISK[(PL_HIGH_RISK.CUSTOMER_TYPE_DETAILED == 'REGULAR_POS') | (PL_HIGH_RISK.CUSTOMER_TYPE_DETAILED == 'BANK_REJECTED_POS')]
bins= [0,0.963,0.972,0.984,0.990,1]
labels = ['b_0-0.963','c_0.963-0.972','d_0.972-0.984','e_0.984-0.990','f_0.990-1']
PL_HIGH_RISK_MODEL['band'] = pd.cut(PL_HIGH_RISK_MODEL['SCORE'], bins=bins, labels=labels, right=False)
PL_HIGH_RISK_MODEL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_HIGH_RISK_MODEL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6082,2020-03,MONEDO_FINANCE_PL,NEW,2020-03-02 18:52:11.204000,PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1,0.82456,2020-03-02 18:56:18.691000,1.0,NaN,NaN,2020-03-02 18:56:27.597000,1.0,NaN,NaN,NaN,NaN,BANK_REJECTED_POS,PLP1709129R11,b_0-0.963
6097,2020-03,MONEDO_FINANCE_PL,RECURRING,2020-03-02 11:08:29.121000,PL-PRED-Score1-mc9c3f0-1,1.00000,2020-03-02 11:08:54.671000,1.0,2020-03-02 11:09:58.384000,1.0,NaN,NaN,2020-03-02 11:09:58.384000,1.0,2020-03-02 11:10:04.000000,1.0,REGULAR_POS,PLP1708145R11,NaN
6104,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-07 13:42:36.039000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98217,2020-01-07 13:45:14.249000,1.0,2020-01-07 13:46:11.262000,1.0,NaN,NaN,2020-01-07 13:46:11.262000,1.0,2020-01-07 13:46:49.301000,1.0,REGULAR_POS,PLP1605719R11,d_0.972-0.984
6111,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-12 14:35:18.773000,PL-POS-ALL-REC-PRED-PA-HE-me1aeda-1,1.00000,2020-01-12 14:36:37.559000,1.0,2020-01-12 14:37:23.606000,1.0,NaN,NaN,2020-01-12 14:37:23.606000,1.0,2020-01-12 14:39:10.499000,1.0,REGULAR_POS,PLP1614419R11,NaN
6124,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-06 15:29:35.680000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98069,2020-01-06 15:35:38.259000,1.0,2020-01-06 15:36:20.467000,1.0,NaN,NaN,2020-01-06 15:36:20.467000,1.0,2020-01-06 15:36:20.620000,1.0,BANK_REJECTED_POS,PLP1604049R11,d_0.972-0.984

## LEADD-HIGH RISK MODEL

In [57]:
PL_LEADD_HIGH_RISK_MODEL = PL_HIGH_RISK_MODEL.loc[(PL_HIGH_RISK_MODEL['LEADD'] == 1) & ( PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1.0')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3')]
PL_LEADD_HIGH_RISK_MODEL_outPut= pd.pivot_table(PL_LEADD_HIGH_RISK_MODEL, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_LEADD_HIGH_RISK_MODEL_outPut_x = PL_LEADD_HIGH_RISK_MODEL_outPut.copy()
PL_LEADD_HIGH_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in PL_LEADD_HIGH_RISK_MODEL_outPut.columns.values]
PL_LEADD_HIGH_RISK_MODEL_outPut_y= PL_LEADD_HIGH_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-HIGH RISK MODEL

In [58]:
PL_OFFER_HIGH_RISK_MODEL = PL_HIGH_RISK_MODEL.loc[(PL_HIGH_RISK_MODEL['OFFER'] == 1) & ( PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1.0')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3')]
PL_OFFER_HIGH_RISK_MODEL_outPut= pd.pivot_table(PL_LEADD_HIGH_RISK_MODEL, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_OFFER_HIGH_RISK_MODEL_outPut_x = PL_OFFER_HIGH_RISK_MODEL_outPut.copy()
PL_OFFER_HIGH_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in PL_OFFER_HIGH_RISK_MODEL_outPut.columns.values]
PL_OFFER_HIGH_RISK_MODEL_outPut_y= PL_OFFER_HIGH_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

## payout-HIGH RISK MODEL

In [59]:
PL_PAYOUT_HIGH_RISK_MODEL = PL_HIGH_RISK_MODEL.loc[(PL_HIGH_RISK_MODEL['PAYOUT'] == 1) & ( PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1.0')|(PL_HIGH_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3')]
PL_PAYOUT_HIGH_RISK_MODEL_outPut= pd.pivot_table(PL_LEADD_HIGH_RISK_MODEL, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PL_PAYOUT_HIGH_RISK_MODEL_outPut_x = PL_PAYOUT_HIGH_RISK_MODEL_outPut.copy()
PL_PAYOUT_HIGH_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in PL_PAYOUT_HIGH_RISK_MODEL_outPut.columns.values]
PL_PAYOUT_HIGH_RISK_MODEL_outPut_y= PL_PAYOUT_HIGH_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

# 4.b Med RISK MODEL

In [60]:
PL_Med_RISK= row_data.loc[row_data.CLIENT =='MONEDO_FINANCE_PL']
PL_Med_RISK_MODEL= PL_Med_RISK[(PL_Med_RISK.CUSTOMER_TYPE_DETAILED == 'REGULAR_POS') | (PL_Med_RISK.CUSTOMER_TYPE_DETAILED == 'BANK_REJECTED_POS')]
bins= [0,0.981,0.985,0.987,0.989,1]
labels = ['b_0-0.981','c_0.981-0.985','d_0.985-0.987','e_0.987-0.989','f_0.989-1']
PL_Med_RISK_MODEL['band'] = pd.cut(PL_Med_RISK_MODEL['SCORE'], bins=bins, labels=labels, right=False)
PL_Med_RISK_MODEL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_Med_RISK_MODEL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6082,2020-03,MONEDO_FINANCE_PL,NEW,2020-03-02 18:52:11.204000,PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1,0.82456,2020-03-02 18:56:18.691000,1.0,NaN,NaN,2020-03-02 18:56:27.597000,1.0,NaN,NaN,NaN,NaN,BANK_REJECTED_POS,PLP1709129R11,b_0-0.981
6097,2020-03,MONEDO_FINANCE_PL,RECURRING,2020-03-02 11:08:29.121000,PL-PRED-Score1-mc9c3f0-1,1.00000,2020-03-02 11:08:54.671000,1.0,2020-03-02 11:09:58.384000,1.0,NaN,NaN,2020-03-02 11:09:58.384000,1.0,2020-03-02 11:10:04.000000,1.0,REGULAR_POS,PLP1708145R11,NaN
6104,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-07 13:42:36.039000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98217,2020-01-07 13:45:14.249000,1.0,2020-01-07 13:46:11.262000,1.0,NaN,NaN,2020-01-07 13:46:11.262000,1.0,2020-01-07 13:46:49.301000,1.0,REGULAR_POS,PLP1605719R11,c_0.981-0.985
6111,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-12 14:35:18.773000,PL-POS-ALL-REC-PRED-PA-HE-me1aeda-1,1.00000,2020-01-12 14:36:37.559000,1.0,2020-01-12 14:37:23.606000,1.0,NaN,NaN,2020-01-12 14:37:23.606000,1.0,2020-01-12 14:39:10.499000,1.0,REGULAR_POS,PLP1614419R11,NaN
6124,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-06 15:29:35.680000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98069,2020-01-06 15:35:38.259000,1.0,2020-01-06 15:36:20.467000,1.0,NaN,NaN,2020-01-06 15:36:20.467000,1.0,2020-01-06 15:36:20.620000,1.0,BANK_REJECTED_POS,PLP1604049R11,b_0-0.981

## LEADD-MED RISK MODEL

In [61]:
LEADD_PL_Med_RISK_MODEL = PL_Med_RISK_MODEL.loc[(PL_Med_RISK_MODEL['LEADD'] == 1) & ( PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1')|(PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1.0')|(PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0')]
LEADD_PL_Med_RISK_MODEL_outPut= pd.pivot_table(LEADD_PL_Med_RISK_MODEL, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
LEADD_PL_Med_RISK_MODEL_outPut_x = LEADD_PL_Med_RISK_MODEL_outPut.copy()
LEADD_PL_Med_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in LEADD_PL_Med_RISK_MODEL_outPut.columns.values]
LEADD_PL_Med_RISK_MODEL_outPut_y= LEADD_PL_Med_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

# OFFER-MED RISK MODEL

In [62]:
OFFER_PL_Med_RISK_MODEL = PL_Med_RISK_MODEL.loc[(PL_Med_RISK_MODEL['OFFER'] == 1) & ( PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1')|(PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1.0')|(PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0')]
OFFER_PL_Med_RISK_MODEL_outPut= pd.pivot_table(OFFER_PL_Med_RISK_MODEL, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
OFFER_PL_Med_RISK_MODEL_outPut_x = OFFER_PL_Med_RISK_MODEL_outPut.copy()
OFFER_PL_Med_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in OFFER_PL_Med_RISK_MODEL_outPut.columns.values]
OFFER_PL_Med_RISK_MODEL_outPut_y= OFFER_PL_Med_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

# payout-MED RISK MODEL

In [63]:
PAYOUT_PL_Med_RISK_MODEL = PL_Med_RISK_MODEL.loc[(PL_Med_RISK_MODEL['PAYOUT'] == 1) & ( PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1')|(PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1.0')|(PL_Med_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0')]
PAYOUT_PL_Med_RISK_MODEL_outPut= pd.pivot_table(LEADD_PL_Med_RISK_MODEL, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PAYOUT_PL_Med_RISK_MODEL_outPut_x = PAYOUT_PL_Med_RISK_MODEL_outPut.copy()
PAYOUT_PL_Med_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_PL_Med_RISK_MODEL_outPut.columns.values]
PAYOUT_PL_Med_RISK_MODEL_outPut_y= PAYOUT_PL_Med_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

# 4.c Low RISK MODEL

In [64]:
PL_low_RISK= row_data.loc[row_data.CLIENT =='MONEDO_FINANCE_PL']
PL_low_RISK_MODEL= PL_low_RISK[(PL_low_RISK.CUSTOMER_TYPE_DETAILED == 'REGULAR_POS') | (PL_low_RISK.CUSTOMER_TYPE_DETAILED == 'BANK_REJECTED_POS')]
bins= [0,0.947,0.959,0.972,0.982,1]
labels = ['b_0-0.947','c_0.947-0.959','d_0.959-0.972','e_0.972-0.982','f_0.982-1']
PL_low_RISK_MODEL['band'] = pd.cut(PL_low_RISK_MODEL['SCORE'], bins=bins, labels=labels, right=False)
PL_low_RISK_MODEL.drop_duplicates(subset ="APPLICATION_ID", keep = 'first', inplace = True)
PL_low_RISK_MODEL.head()

,COHORT,CLIENT,NEW_RECURRING,CREATEDAT,SCORING_MODEL,SCORE,LEAD_DATE_EXCL_AUTOREJECTS,LEADD,LAST_OFFER_DATE,OFFER,REJECT_DATE,REJECTD,OFFER_ACCEPTED_DATE,OFFER_ACCEPTED,PAYOUT_DATE,PAYOUT,CUSTOMER_TYPE_DETAILED,APPLICATION_ID,band
6082,2020-03,MONEDO_FINANCE_PL,NEW,2020-03-02 18:52:11.204000,PL-POS-HIGH-NEW-PRED-KK_CB_PAYU-MS-me09ab3-1,0.82456,2020-03-02 18:56:18.691000,1.0,NaN,NaN,2020-03-02 18:56:27.597000,1.0,NaN,NaN,NaN,NaN,BANK_REJECTED_POS,PLP1709129R11,b_0-0.947
6097,2020-03,MONEDO_FINANCE_PL,RECURRING,2020-03-02 11:08:29.121000,PL-PRED-Score1-mc9c3f0-1,1.00000,2020-03-02 11:08:54.671000,1.0,2020-03-02 11:09:58.384000,1.0,NaN,NaN,2020-03-02 11:09:58.384000,1.0,2020-03-02 11:10:04.000000,1.0,REGULAR_POS,PLP1708145R11,NaN
6104,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-07 13:42:36.039000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98217,2020-01-07 13:45:14.249000,1.0,2020-01-07 13:46:11.262000,1.0,NaN,NaN,2020-01-07 13:46:11.262000,1.0,2020-01-07 13:46:49.301000,1.0,REGULAR_POS,PLP1605719R11,f_0.982-1
6111,2020-01,MONEDO_FINANCE_PL,RECURRING,2020-01-12 14:35:18.773000,PL-POS-ALL-REC-PRED-PA-HE-me1aeda-1,1.00000,2020-01-12 14:36:37.559000,1.0,2020-01-12 14:37:23.606000,1.0,NaN,NaN,2020-01-12 14:37:23.606000,1.0,2020-01-12 14:39:10.499000,1.0,REGULAR_POS,PLP1614419R11,NaN
6124,2020-01,MONEDO_FINANCE_PL,NEW,2020-01-06 15:29:35.680000,PL-POS-MED-NEW-PRED-CB_PAYU-MS-m0563c0-1,0.98069,2020-01-06 15:35:38.259000,1.0,2020-01-06 15:36:20.467000,1.0,NaN,NaN,2020-01-06 15:36:20.467000,1.0,2020-01-06 15:36:20.620000,1.0,BANK_REJECTED_POS,PLP1604049R11,e_0.972-0.982

## LEADD-low RISK MODEL

In [65]:
LEADD_low_RISK_MODEL = PL_low_RISK_MODEL.loc[(PL_low_RISK_MODEL['LEADD'] == 1) & ( PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')|(PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')]
LEADD_low_RISK_MODEL_outPut= pd.pivot_table(LEADD_low_RISK_MODEL, values=['LEADD'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
LEADD_low_RISK_MODEL_outPut_x = LEADD_low_RISK_MODEL_outPut.copy()
LEADD_low_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in LEADD_low_RISK_MODEL_outPut.columns.values]
LEADD_low_RISK_MODEL_outPut_y= LEADD_low_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

## OFFER-low RISK MODEL

In [66]:
OFFER_low_RISK_MODEL = PL_low_RISK_MODEL.loc[(PL_low_RISK_MODEL['OFFER'] == 1) & ( PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')|(PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')]
OFFER_low_RISK_MODEL_outPut= pd.pivot_table(OFFER_low_RISK_MODEL, values=['OFFER'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
OFFER_low_RISK_MODEL_outPut_x = OFFER_low_RISK_MODEL_outPut.copy()
OFFER_low_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in OFFER_low_RISK_MODEL_outPut.columns.values]
OFFER_low_RISK_MODEL_outPut_y= OFFER_low_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

## PAYOUT-low RISK MODEL

In [67]:
PAYOUT_low_RISK_MODEL = PL_low_RISK_MODEL.loc[(PL_low_RISK_MODEL['PAYOUT'] == 1) & ( PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1')|(PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b-1.0')|(PL_low_RISK_MODEL['SCORING_MODEL'] == 'PL-POS-LOW-NEW-PRED-CB_PAYU-MS-m5fb04b')]
PAYOUT_low_RISK_MODEL_outPut= pd.pivot_table(PAYOUT_low_RISK_MODEL, values=['PAYOUT'], index=['band'],columns=['COHORT'],fill_value=0,margins=False ,aggfunc="count")
PAYOUT_low_RISK_MODEL_outPut_x = PAYOUT_low_RISK_MODEL_outPut.copy()
PAYOUT_low_RISK_MODEL_outPut_x.columns = [''.join(col).strip() for col in PAYOUT_low_RISK_MODEL_outPut.columns.values]
PAYOUT_low_RISK_MODEL_outPut_y= PAYOUT_low_RISK_MODEL_outPut_x.sort_values(by=['band'],ascending = False)

# Poland_excel_export

In [68]:
path = r"C:\Users\abdalla.khiralla\Model_score_outPut.xlsx"

book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

Lead_PL_IL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=1,header=True)
offer_PL_IL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=10,header=True)
payout_PL_IL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=19,header=True)
PL_IL_Rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=1,header=True)
offer_PL_IL_Rec_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=10,header=True)
payout_PL_IL_Rec_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=19,header=True)
PL_BNPL_leads_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=82,header=True)
PL_OFFER_BNPL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=91,header=True)
PL_BNPL_PAYOUT_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=100,header=True)
PL_HIGH_RISK_MODEL_leadd_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=91,startcol=28,header=True)
PL_HIGH_RISK_MODEL_OFFER_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=91,startcol=37,header=True)
PL_HIGH_RISK_MODEL_payout_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=91,startcol=46,header=True)
PL_MED_RISK_MODEL_leadd_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=28,header=True)
PL_HIGH_RISK_MODEL_OFFER_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=37,header=True)
PL_MED_RISK_MODEL_payout_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=46,header=True)
PL_MLOW_RISK_MODEL_leadd_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=28,header=True)
PL_MLOW_RISK_MODEL_OFFER_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=37,header=True)
PL_MLOW_RISK_MODEL_PAYOUT_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=46,header=True)
PL_LEADD_HIGH_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=91,startcol=55,header=True)
PL_OFFER_HIGH_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=91,startcol=64,header=True)
PL_PAYOUT_HIGH_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=91,startcol=73,header=True)
LEADD_PL_Med_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=55,header=True)
OFFER_PL_Med_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=64,header=True)
PAYOUT_PL_Med_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=48,startcol=73,header=True)
LEADD_low_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=55,header=True)
OFFER_low_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=64,header=True)
PAYOUT_low_RISK_MODEL_outPut_y.to_excel(writer, sheet_name = 'Model_Score_Distribution_PL',startrow=6,startcol=73,header=True)


writer.save()
writer.close()